@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@media screen and (min-width: 700px){
  .form{
    text-align: center;
    margin-top: 30px;
  }
  .checkbox{
    text-align: center;
  }
  .your_email{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-left: -30vw;
  }
  input{
    margin: 3px;
    margin-bottom: 18px;
  }
  .email,.password {
    min-width: 34vw;
    padding: 12px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgb(235, 240, 245);
  }
  .login{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 18px;
  }
}

@media screen and (max-width:880px){
  .your_email{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-left: -25vw;
  }
}

@media screen and (min-width:1140px){
  .your_email{
    margin-left: -27vw;
  }
}

@media screen and (min-width:px) and (max-width:1139px){
  .your_email{
    margin-left: -29vw;
  }
}

@media screen and (max-width:1140px){
  .email,.password {
    min-width: 38vw;
    padding: 12px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgb(235, 240, 245);
  } 
}

@media screen and (max-width: 700px){
  .form{
    margin-left : 5vw;
  }
  .your_email{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  input{
    margin: 3px;
    margin-bottom: 18px;
  }
  .email,.password {
    min-width: 58vw;
    padding: 12px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgb(235, 240, 245);
  } 
  .login{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 45px;
  }
}

.logo{
  font-family: 'Train One', cursive;
  font-size: 50px;
}